<p-table
  [columns]="cols"
  [value]="supplies"
  selectionMode="single"
  [(selection)]="selectedSupply"
  (onRowSelect)="onRowSelect($event)"
  [paginator]="true"
  [rows]="15"
>
  <ng-template pTemplate="caption">
    List of Supplies
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th style="width: 15em;"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
      <td>
        <a [routerLink]="['/supply', rowData.id]">
          <p-button class="action-button" label="Send Spply"> </p-button>
        </a>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align: left;">
      <button
        type="button"
        pButton
        icon="pi pi-plus"
        (click)="showDialogToAdd()"
        label="Add"
      ></button>
    </div>
  </ng-template>
</p-table>

<p-dialog
  header="Supply Details"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '300px' }"
>
  <div class="ui-g ui-fluid" *ngIf="supply">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="vin">Title</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="vin" [(ngModel)]="supply.title" autofocus />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Date</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="supply.date" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="delete()"
        label="Delete"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="save()"
        label="Save"
      ></button>
    </div>
  </p-footer>
</p-dialog>
