
.title {
    font-size: 2em;
    padding: 0.5em;
    @media only screen and (max-width: 600px) {
        font-size: 1.6em;
    }
}
.iconTitle {
    font-size: 3em;
    padding: 0.5em;
    @media only screen and (max-width: 600px) {
        font-size: 2.5em;
    }
}
