<!-- Header -->
<section
  class="hero is-large"
  style="
    background-image: url({{ bgImage }});
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="hero-body">
    <div class="container has-text-white">
      <h1 class="title has-text-white is-1 is-hidden-mobile">PhuketWin.com</h1>
      <h1 class="title has-text-white is-1 is-hidden-mobile">#ภูเก็ตต้องชนะ</h1>
      Welcome to Food to home platform
      <h1 class="title has-text-white is-1">ตำบล {{ subDistrict }}</h1>
      <h2 class="subtitle has-text-white is-4">
        ยินดีต้อนรับ มาร่วมกัน "อยู่บ้าน หยุดเชื้อ เพื่อชาติ" ไปด้วยกัน
      </h2>
      <button class="button" (click)="goToRequestQrCode()">
        <span class="icon is-medium">
          <i class="fas fa-qrcode"></i>
        </span>
        <span>ขอ QR Code อีกครั้ง</span>
      </button>
    </div>
  </div>
</section>

<!-- Terms of use -->
<section class="section" id="services">
  <div class="section-heading">
    <h3 class="title is-4">ลงทะเบียนเพื่อรับอาหารและถุงยังชีพ</h3>
    <h3 class="title is-2">ข้อตกลงการใช้งาน</h3>
    <h4 class="subtitle is-5">Terms of use</h4>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="content">
            <div class="overflow">
              <h4 class="title is-12">
                1. ผู้รับอาหารหรือถุงยังชีพต้องแสดง
                บัตรประจำตัวของผู้ที่มีสิทธิ์รับอาหาร แก่เจ้าหน้าที่
                หลังจากนั้นเจ้าหน้าที่จะ scan QR Code เพื่อยืนยันการรับอาหาร
              </h4>
              <h4 class="title is-12">
                2. การรับถุงยังชีพ ให้สิทธิ์ในการรับหลังคาเรือนละ 1 ถุง/ครั้ง
              </h4>
              <h4 class="title is-12">3. การรับอาหารกล่องคนละ 1 กล่อง/ครั้ง</h4>
              <h4 class="title is-12">
                เงื่อนไขอาจปรับเปลี่ยนตามความเหมาะสม ตามสภาพการ โปรดเก็บรักษา QR
                Code ของท่าน เพื่อนำมาใช้รับอาหารในครั้งต่อไป
              </h4>
              <h4 class="title is-12">
                1. Food or survival bags recipients must show personal
                Identification card that eligible to receive food to staffs.
                After that, the staffs will scan the QR Code to confirm the
                food.
              </h4>
              <h4 class="title is-12">
                2. The survival bags are entitled to receive 1 bag per house.
              </h4>
              <h4 class="title is-12">
                3. Receive a box of food per person per time.
              </h4>
              <h4 class="title is-12">
                This may change as appropriate according to the conditions.
                Please keep you QR Code in order to get your food in the future
              </h4>
            </div>
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="isAccept" />
              ฉันยอมรับ<a>ข้อตกลง</a>ข้างต้น ( I agree to the
              <a>terms and conditions</a> )
            </label>
          </div>

          <div class="register">
            <button
              (click)="goToRegister()"
              class="button is-large is-link"
              [disabled]="!isAccept"
            >
              สมัครสมาชิก ( REGISTER )
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section class="section" id="contact">
  <div class="container">
    <div class="section-heading">
      <h3 class="title is-2">ติดต่อ</h3>
      <h4 class="subtitle is-5">Contact</h4>
      <!-- <div *ngFor="let contract of contracts">
        <span>{{ contract.text }}</span>
      </div> -->
      <div class="columns is-desktop">
        <div class="column"></div>
        <div class="column">
          <div><b>Winai Chidchiew</b></div>
          <div><b>matilphuket@gmail.com</b></div>
          <div><b>083-1758822</b></div>
        </div>
        <div class="column">
          <div><b>Manosit Jangjob</b></div>
          <div><b>manositjangjob@gmail.com</b></div>
          <div><b>098-7894191</b></div>
        </div>
        <div class="column is-hidden-mobile"></div>
      </div>
    </div>
    <br />
  </div>
</section>

<!-- Sponsored by -->
<section class="section" id="resume">
  <div class="container">
    <div class="section-heading">
      <h3 class="title is-2">สนับสนุนโดย</h3>
      <h4 class="subtitle is-5">Sponsored by</h4>
      <div *ngIf="sponsoredGoogleSpreadSheetDatas">
        <div
          class="columns is-desktop"
          *ngFor="let value of sponsoredGoogleSpreadSheetDatas"
        >
          <div class="column"><b>{{ value.name }}</b></div>
          <div class="column"><b>{{ value.description }}</b></div>
          <div class="column"><b>{{ value.date }}</b></div>
        </div>
      </div>
    </div>
    <!-- <nav class="level">
    <div
      class="level-item has-text-centered"
      *ngFor="let sponsered of sponsoredBy"
    >
      <a [href]="sponsered.link"><img [src]="sponsered.imageURI" /></a>
    </div>
  </nav> -->
  </div>
</section>

<section class="section"></section>

<!-- Footer -->
<footer class="footer has-background-grey-lighter">
  <div class="section-heading">
    <p>
      <strong>Bulma Personal Template</strong> by
      <a href="https://mubaidr.js.org">Muhammad Ubaid Raza</a>.
    </p>
    <p>
      <strong>Develop</strong> by
      <a href="https://www.bonmek.com">Bonmek</a>
    </p>
    <p>
      The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>
