<div class="toolbar" role="banner">
  <span *ngIf="!isHideBackButton" class="back-button pointer">
    <i class="pi pi-arrow-left title" (click)="backClicked($event)"></i>
  </span>
  <p class="title">Food To Home : Staff</p>

  <div class="spacer"></div>
  <div *ngIf="isAuth" class="container is-mobile" (click)="functionShowPanelMobile()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <div *ngIf="isAuth" class="topbar-menu pointer is-desktop" [ngClass]="{ 'active-menu': isShowPanel }"
    (click)="showPanel()">
    {{ authData }}
    &nbsp;
    <!-- <app-synce-up-survey-status></app-synce-up-survey-status> -->
    <br />
    <div *ngIf="isShowPanel" class="menu-list pointer">
      <span (click)="logout()" style="padding: 1em;">
        Logout
      </span>
    </div>
  </div>
</div>
<div *ngIf="isAuth && showPanelMobile" class="menu-list-mobile pointer"
  style="box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.1); width: 100%; ">
  <span style="display: flex; align-items: center;">{{ authData }} &nbsp;
    <!-- <app-synce-up-survey-status></app-synce-up-survey-status> -->
  </span>
  <hr />
  <span (click)="logout()">
    Logout
  </span>
</div>