<h2>
  รายการรอบการแจกของ
</h2>
<!-- <pre>product round {{ productRound | json }}</pre>
<pre>form value {{ productRoundForm.value | json }}</pre> -->
<p-table
  #dt
  [lazy]="true"
  [loading]="loading"
  (onLazyLoad)="loadProductRoundsLazy($event)"
  [totalRecords]="totalRecords"
  [value]="productRoundList"
  selectionMode="single"
  (onRowSelect)="onRowSelect($event)"
  [paginator]="true"
  [rows]="15"
>
  <ng-template pTemplate="caption">
    <div class="caption-container">
      <div>
        <button
          class="ui-button-success"
          type="button"
          pButton
          icon="pi pi-plus"
          (click)="showDialogToAdd()"
          label="เพิ่ม"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>ชื่อรายการ</th>
      <th>วัน เวลา</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>{{ rowData.productName }}</td>
      <td class="center">{{ rowData.roundDateTime | date: 'medium' }}</td>
      <td style="text-align: center;">
        <a [routerLink]="['/product-send', rowData._id]">
          <p-button label="แจกของ"> </p-button>
        </a>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr id="row-empty">
      <td [attr.colspan]="3">
        ไม่พบข้อมูลรายการ
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="displayDialog"
  [responsive]="true"
  [draggable]="true"
  [dismissableMask]="true"
  showEffect="fade"
  [modal]="true"
  (onHide)="onDialogHide($event)"
  [style]="{ width: '360px' }"
  [contentStyle]="{ overflow: 'visible' }"
>
  <div
    class="p-grid ui-fluid"
    *ngIf="productRound"
    [formGroup]="productRoundForm"
  >
    <div class="p-col-12">
      <p class="label">
        ชื่อรายการ
        <span class="star-required">*</span>
      </p>
      <input
        formControlName="productName"
        type="text"
        pInputText
        [class.invalid-field]="submitted && f.productName.errors"
      />
    </div>
    <div class="p-col-12">
      <p class="label">
        รอบวันที่
        <span class="star-required">*</span>
      </p>

      <p-calendar
        formControlName="roundDateTime"
        [showTime]="true"
        appendTo="body"
      ></p-calendar>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="save()"
        label="บันทึก"
        class="ui-button-success"
      ></button>
      <button
        *ngIf="productRound && productRound._id"
        type="button"
        pButton
        icon="pi pi-times"
        (click)="delete(productRound._id)"
        label="ลบ"
        class="ui-button-danger"
      ></button>
    </div>
  </p-footer>
</p-dialog>
