<div *ngIf="txnRequireCount">รายการรอบันทึก {{ txnRequireCount }}</div>

<button
  pButton
  type="button"
  label="Scan QR "
  (click)="clickOpenCamera($event)"
  *ngIf="!scannerEnabled"
  style="width: 100%;"
></button>
<button
  pButton
  type="button"
  label="Close"
  (click)="clickCloseCamera($event)"
  *ngIf="scannerEnabled"
  style="width: 100%;"
></button>
<button
  *ngIf="scannerEnabled"
  pButton
  type="button"
  label="Toggle"
  (click)="toggleCamera(desiredDevice, cameras)"
  icon="pi pi-camera"
></button>
<div style="height: 70vh; width: 100%;">
  <zxing-scanner
    *ngIf="scannerEnabled"
    [enable]="scannerEnabled"
    [(device)]="desiredDevice"
    (camerasFound)="camerasFoundHandler($event)"
    (camerasNotFound)="camerasNotFoundHandler($event)"
    (scanSuccess)="scanSuccessHandler($event)"
  ></zxing-scanner>
</div>

<hr />

<app-reciever-info [recieverInfo]="recieverInfo"></app-reciever-info>
<hr />

<p-card>
  <p-button icon="pi pi-angle-left" (click)="decreaseFoodCount()"></p-button>
  {{ amount }}
  <p-button icon="pi pi-angle-right" (click)="increaseFoodCount()"></p-button>
  <br />
  <button
    pButton
    type="button"
    label="Submit"
    (click)="submit()"
    [disabled]="txactionRecieveForm.invalid"
    style="width: 100%;"
  ></button>
</p-card>
