:host zxing-scanner::ng-deep video {
  max-height: 70vh;
  width: 100%;
  object-fit: contain;
}

:host ::ng-deep .ui-button {
  height: 5em !important;
}

#swap{
  height: 100% !important;
  padding: .5em;
  @media only screen and (max-width: 600px) {
    padding: .2em;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  font-size: 5em;
  font-weight: bold;
  margin: 0 1em;
}
.amountBtn {
  height: 5em;
}

.container {
  padding: 1em 20vw;
  @media only screen and (max-width: 600px) {
    padding: 1em 0;
  }
}
