<div class="container">
  <div style="font-size: 1.3em; padding: 1em 0;">
    รายการรอบันทึก {{ txnRequireCount }}
  </div>

  <button
    pButton
    type="button"
    label="Scan QR "
    (click)="clickOpenCamera($event)"
    *ngIf="!scannerEnabled"
    style="width: 100%;"
  ></button>
  <button
    pButton
    type="button"
    label="Close"
    (click)="clickCloseCamera($event)"
    *ngIf="scannerEnabled"
    style="width: 100%;"
  ></button>
  <div style="display: flex; justify-content: center;">
    <button
      *ngIf="scannerEnabled"
      pButton
      type="button"
      label="Toggle"
      (click)="toggleCamera(desiredDevice, cameras)"
      icon="pi pi-camera"
    ></button>
  </div>
  <zxing-scanner
    *ngIf="scannerEnabled"
    [enable]="scannerEnabled"
    [device]="desiredDevice"
    (camerasFound)="camerasFoundHandler($event)"
    (camerasNotFound)="camerasNotFoundHandler($event)"
    (scanSuccess)="scanSuccessHandler($event)"
  ></zxing-scanner>
  <br />
  <div *ngIf="recieverInfo">
    <app-reciever-info [recieverInfo]="recieverInfo"></app-reciever-info>
  </div>
  <br />
  <p-card>
    <div class="flexCenter">
      <div class="flexCenter">
        <p-button
          icon="pi pi-angle-left"
          (click)="decreaseFoodCount()"
        ></p-button>
        <span class="amount">{{ amount }}</span>
        <p-button
          icon="pi pi-angle-right"
          (click)="increaseFoodCount()"
        ></p-button>
      </div>
    </div>
    <br />
    <button
      pButton
      type="button"
      label="Submit"
      (click)="submit()"
      [disabled]="txactionRecieveForm.invalid"
      style="width: 100%;"
    ></button>
  </p-card>
</div>
