.section-heading {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    @media only screen and (max-width: 600px) {
        padding-top: 3em;
        padding-bottom: 2em;
    }
}

.backBtn {
    cursor: pointer;
    position: absolute;
    top: 5vh;
    left: 5vw;
    @media only screen and (max-width: 600px) {
        padding-top: 1em;
    }
}

.container {
    padding: 1em 10vw;
    @media only screen and (max-width: 600px) {
        padding: 0 0;
    }
}

.header {
    text-align: center;
    @media only screen and (max-width: 600px) {
        margin-top: 1em;
    }
}

.qrCode {
    display: flex;
    justify-content: center;
    img {
        width: 500px;
        height: 500px;
    }
    @media only screen and (max-width: 600px) {
        img {
            width: 300px;
            height: 300px;
        }
    }
}
