.title{
    font-weight: bold;
}

.check{
    color: green !important;
}

.listText{
    color: lightgrey;
}

.container{
    padding: 1em;
}

:host ::ng-deep .ui-fieldset-legend >a{
    border: none !important;
}